@font-face {
  font-family: 'Futura PT';
  src: url("/public/fonts/FuturaPT-Bold.eot");
  src: url("/public/fonts/FuturaPT-Bold.eot?#iefix") format('embedded-opentype'), url("/public/fonts/FuturaPT-Bold.woff") format('woff'), url("/public/fonts/FuturaPT-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url("/public/fonts/FuturaPT-Light.eot");
  src: url("/public/fonts/FuturaPT-Light.eot?#iefix") format('embedded-opentype'), url("/public/fonts/FuturaPT-Light.woff") format('woff'), url("/public/fonts/FuturaPT-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT Book';
  src: url("/public/fonts/FuturaPT-Book.eot");
  src: url("/public/fonts/FuturaPT-Book.eot?#iefix") format('embedded-opentype'), url("/public/fonts/FuturaPT-Book.woff") format('woff'), url("/public/fonts/FuturaPT-Book.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url("/public/fonts/FuturaPT-Medium.eot");
  src: url("/public/fonts/FuturaPT-Medium.eot?#iefix") format('embedded-opentype'), url("/public/fonts/FuturaPT-Medium.woff") format('woff'), url("/public/fonts/FuturaPT-Medium.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}