.content-size {
  padding: 0 25px;
  @media (min-width: 600px) {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}
.credit__header {
  height: 60px;
  position: relative;
  @media (min-width: 600px) {
    height: 97px;
  }
    &-inner {
      display: flex;
      justify-content: space-between;
      height: 60px;
      align-items: center;
      @media (min-width: 600px) {
        height: 97px;
      }
    }
}
.logo-mobile {
  display: block;
  @media (min-width: 600px) {
    display: none;
  }
}
.logo-desktop {
  display: none;
  @media (min-width: 600px) {
    display: block;
  }
}
.menu {
  position: absolute;
  display: none;
  right: -70px;
  top: 90px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 0px 25px rgba(104,104,104,0.07);
  box-sizing: border-box;
  width: 100%;
  max-width: 255px;
  @media (max-width: 600px)  {
    right: -25px;
    top: 60px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 25px;
    margin: 0;
    &-item {
      border-bottom: 1px solid #e0e0e0;
      padding: 20px 0;
    }
    &-link {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #333;
      text-decoration: none;
    }
  }
}
.hamburger {
  border: none;
  background: none;
  cursor: pointer;
}
.menu._opened {
  display: block;
}

