.credit {
  &__step {
    padding-top: 0;
    margin-top: 120px;
    background: #fff;
    @media (min-width: 600px) {
      margin-top: 100px;
    }
    &-title {
      padding: 0 20px;
    }
  }
  &__decision {
    padding-top: 40px;
    padding-bottom: 40px;
    @media (min-width: 600px) {
      max-width: 800px;
      width: 100%;
      display: flex;
      margin: 40px auto 0;
      justify-content: space-around;
      padding-bottom: 0;
    }
    &-block {
      display: flex;
      position: relative;
      display: flex;
      align-items: center;
      padding-top: 15px;
      font-weight: 300;
      color: #000;
      @media (min-width: 600px) {
        width: 201px;
        font-size: 18px;
      }
    }
    &-icon {
      margin-right: 15px;
      display: flex;
      flex-shrink: 0;
    }
  }
}